.fs-20{
  font-size: 20px;
}
.fs-24{
  font-size: 24px;
}
.fs-32{
  font-size: 32px;
}
.fs-36{
  font-size: 36px;
}
.fs-42{
  font-size: 42px;
}
.fs-48{
  font-size: 48px;
}
.fs-64{
  font-size: 64px;
}
.fw-bold{
  font-weight: 700;
}
.fw-black{
  font-weight: 900;
}
.fw-medium{
  font-weight: 500;
}
.ml-16{
  margin-left: 16px;
}
.mr-4{
  margin-right: 4px;
}
.mb-4{
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mt-16{
  margin-top: 16px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-40{
  margin-bottom: 40px;
}
.mb-48{
  margin-bottom: 48px;
}
.ptb-80{
  padding: 80px 0;
}

.btn-hover{
  padding: 10px;
}
.btn-hover:hover{
  background: #e74d42;
}
.cursor-p{
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fs-md-24{
    font-size: 24px;
  }
}
// phone size 

@media screen and (max-width: 375px) {
  .fs-sm-16{
    font-size: 16px;
  }
  .fs-sm-24{
    font-size: 24px;
  }
  .mb-sm-24{
    margin-bottom: 24px;
  }
  .mb-sm-32{
    margin-bottom: 32px;
  }
  .mt-sm-24{
    margin-top: 24px;
  }
  .ptb-sm-40{
    padding: 40px 0;
  }
}  