<div class="footer bg-red text-white">
  <div class="container">
    <div class="footer-links">
      <div class="list">
        <ul>
          <li><a class="btn-hover" href="index.html">首頁</a></li>
          <li><a class="btn-hover" href="product.html">系列鏡框</a></li>
          <li><a class="btn-hover" href="locations.html">門市據點</a></li>
          <li><a class="btn-hover" href="blog.html">部落格</a></li>
          <li><a class="btn-hover" href="Q&A.html">常見問題</a></li>
        </ul>
      </div>
      <div class="social-media">
        <ul>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="fb"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="ig"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="ig"></a></li>
        </ul>
      </div>
    </div>
    <div class="contacts">
      <!-- ; 底部電話、信箱也可加上 a 標籤與 hover 效果，並使用 a 標籤的 Emmet 語法 a:tel, a:mail，提升使用者體驗 -->
      <div class="contact">
        <a class="link-hover" href="mailto:">
          <span class="material-symbols-outlined fs-36 fs-sm-18">call</span>
        </a>
        <h3 class="contact-text fs-sm-16">0800-000-000</h3>
      </div>
      <div class="contact">
        <a class="link-hover" href="tel:+">
          <span class="material-symbols-outlined fs-36 fs-sm-18">mail</span>
        </a>
        <h3 class="contact-text fs-sm-16">glasses@business.com</h3>
      </div>
    </div>
    <div class="divider"></div>
    <div class="info">
      <div class="copyright">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
      </div>
      <div class="others">
        <span>隱私權政策</span>
        <span>服務條款</span>
      </div>
    </div>
  </div>
</div>