<div class="header">
  <div class="container">
    <div class="logo">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/logo-white.png" alt="header-logo">
    </div>
    <div class="links">
      <ul>
        <li><a class="fs-20 fs-sm-16 btn-hover" href="product.html">系列鏡框</a></li>
        <li><a class="fs-20 fs-sm-16 btn-hover" href="locations.html">門市據點</a></li>
        <li><a class="fs-20 fs-sm-16 btn-hover" href="blog.html">部落格</a></li>
        <li><a class="fs-20 fs-sm-16 btn-hover" href="Q&A.html">常見問題</a></li>
      </ul>
    </div>
  </div>
</div>