<div class="nav bg-dark-red d-flex text-white">
  <div class="container d-flex jc-sb">
    <ul class="d-flex fs-20 gap-48 ai-c">
      <li class="nav-hover h-40 ac-c"><a class=""  href="#">最新消息</a></li>
      <li class="nav-hover h-40 ac-c"><a class="" href="event.html">特別企劃</a></li>
      <li class="nav-hover h-40 ac-c"><a class="" href="#">新品上市</a></li>
      <li class="nav-hover h-40 ac-c"><a class="" href="#">鏡框小知識</a></li>
    </ul>
    <div class="search-icon cursor-p">
      <span class="material-symbols-outlined fs-40">
        search
      </span>
    </div>
  </div>
</div>