/* footer  */
.footer{
  // position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 32px;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid yellow; */
  align-items: center;
}
.footer .list ul{
  display: flex;
  gap: 48px;
  /* align-items: center; */
}
.footer .social-media ul{
  display: flex;
  gap: 32px;
  /* border: 1px solid yellow; */
}
.footer .social-media ul img{
  width: 48px;
}
.footer .contacts{
  /* border: 1px solid yellow; */
  margin-top: 24px;  
}
.footer .contact{
  display: flex;
  align-items: center;
  font-size: 36px;
}
.footer .contact h3{
  margin-left: 22px;
  /* border: 1px solid yellow; */
}
.footer .divider{
  border: .5px solid white;
  width: 100%;
  margin: 32px 0;
}
.footer .info{
  display: flex;
  justify-content: space-between;
}
.footer .copyright{
  font-size: 16px;
}
.footer .others{
  font-size: 14px;
}
.footer .others span:nth-child(1){
  margin-right: 48px;
}

@media screen and (max-width: 992px) {
  .container{
    // outline: 1px solid white;
    padding: 0 36px;
	}
  .material-symbols-outlined{
    font-size: 36px;
  }
  .contact-text{
    // outline: 1px solid white;
    font-size: 36px;
  }
  .footer{
    // margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .footer-links{
    // outline: 1px solid white;
    // padding: 0 36px;
  }
  .footer .social-media ul{
    display: flex;
    gap: 16px;
  }
  .footer .social-media ul img{
    width: 40px;
    margin-right: 0;
  }  
}
@media screen and (max-width: 767px) {
  li, span, h3{
    font-size: 16px;
  }
  .fs-sm-16{
    font-size: 16px;
  }
  .footer{
    // outline: 10px solid blue;
    padding: 24px 0;
  }
  .footer .container{
    // outline: 10px solid blue;
    padding: 0 13px;
  }
  .material-symbols-outlined{
    font-size: 18px;
  }
  .footer .social-media ul{
    display: flex;
    // gap: 8px;
    gap: 0;
  }
  .footer .footer-links .list{
    display: none;
  }
  .footer .footer-links{
    // outline: 1px solid blue;
    position: relative;
  }
  .footer .social-media{
    /* border: 1px solid white; */
    position: absolute;
    top: 0;
    margin-top: 24px;
    right: 14px;
  }
  .footer .contacts{
    width: 50%;
  }
  .footer .footer-links .social-media img{
    /* border: 1px solid white; */
    width: 24px;
  }
  .footer .social-media ul img{
    margin-right: 8px;
  }
  .footer .social-media ul li:last-child img{
    margin-right: 0;
  }
  .footer .contact h3{
    margin-left: 11px;
  }
  .footer .contact i{
    font-size: 18px;
  }  
  .footer .info{
    /* border: 1px solid white; */
    flex-direction: column;
  }
  .footer .others span{
    display: block;
  }
  .footer .others span:nth-child(1){
    padding: 8px 0;
  }

}